<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Embasado - Grupo NM
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(rel='stylesheet', type='text/css', href='./public/css/demo.css')
	link(rel='stylesheet', type='text/css', href='./public/css/slicebox.css')
	link(rel='stylesheet', type='text/css', href='./public/css/custom.css')
	script(type='text/javascript', src='./public/js/vendor/modernizr.custom.46884.js')
	link(rel="stylesheet", href="./public/css/styles.css")
	link(rel="stylesheet", href="./public/bootstrap/css/bootstrap.min.css")

body
	div(class="Total")
		div(class="Main-menu")
			img(class="Main-menu_logoB" src="./public/svg/logoGNM.svg", alt="")
			ul(class="Main-menu_list")
				l1(class="menu_items") SECTORES QUE SERVIMOS
				img(src="./public/images/separadores2.png", alt="")
				l1(class="menu_items") NUESTROS SERVICIOS
				img(src="./public/images/separadores2.png", alt="")
				l1(class="Header-nav_items")
					a(href="embasado.html") SOLUCIONES DE EMBASADO
				img(src="./public/images/separadores2.png", alt="")
				l1(class="menu_items") MAQUINARIA
				img(src="./public/images/separadores2.png", alt="")
				l1(class="menu_items") REPRESENTACIONES
				// ENCABEZADO
		div(class="Encabezado")
			h2 SOLUCIONES DE<br>EMBASADO
		div(class="Embasado")
			div(class="Embasado-list")
				ul
					li
						a(class="Embasado-list_link") BOLSAS TERMOENCOGIBLES (PVDC) 56 MICRONES
					li
						a(class="Embasado-list_link") BOLSAS TERMOENCOGIBLES (PVDC) 76 MICRONES
					li
						a(class="Embasado-list_link") BOLSAS NYLON POLY (TRES SELLOS)
					li
						a(class="Embasado-list_link") PELICULA EVOH 
					li
						a(class="Embasado-list_link") TRIPA CELULOSA  (SALCHICHAS) WIENIEPAK
					li
						a(class="Embasado-list_link") TRIPA FIBROSA (SALAMES)
					li
						a(class="Embasado-list_link") TRIPA POLYAMIDA (JAMONES Y MORTADELAS) NOVA
					li
						a(class="Embasado-list_link") TRIPA NATURAL DE CERDO
					li
						a(class="Embasado-list_link") TRIPA NATURAL DE CORDERO
					li
						a(class="Embasado-list_link") TRIPA COLAGENO COMESTIBLE									
			div(class="Embasado-info")
				h1 TRIPA POLYAMIDA (JAMONES Y MORTADELAS) NOVA
				ul
					each items in ["CALIBRES DESDE 51 - 305 ANCHO PLANO","CALIBRES DESDE 34 - 205 DRE","VARIOS COLORES","DRE DIAMETRO RECOMENDADO EMBUTIDO"]
						li= items

		div(class="Maquinaria")
			h2 MAQUINARIA
			div(class="Maquinaria-list")
			div(class="Maquinaria-gallery")
				img(class="Maquinaria-gallery_items" id="" src="./public/images/maquinaria/c35.png")

			// FOOTER
		div(class="Footer")
			div(class="Footer-layout")
				div(class="Footer-layout_col")
					p(class="Footer-titulos") SECTORES QUE SERVIMOS
					ul(class="Footer-texto")
						each items in ["CARNES PROCESADAS","CARNES FRESCAS","AVES","QUESOS Y LACTEOS","PESCADOS Y MARISCOS","FRUTAS Y VEGETALES","LIQUIDOS","HO.RE.CA"]
							li= items
				div(class="Footer-layout_col")
					p(class="Footer-titulos") NUESTROS SERVICIOS
					ul(class="Footer-texto")
						each items in ["DISEÑO DE EMPAQUES","IMPRESIÓN","INVESTIGACIÓN","ASESORÍA CORTES CÁRNICOS","SERVICIO TÉCNICO","CAPACITACIONES Y CURSOS"]
							li= items
				div(class="Footer-layout_col")
					p(class="Footer-titulos") SOLUCIONES DE EMBASADO
					ul(class="Footer-texto")
						each items in ["BOLSAS TERMOENCOGIBLES (PVDC) 56 MICRONES","BOLSAS TERMOENCOGIBLES (PVDC) 76 MICRONES","BOLSAS NYLON POLY (TRES SELLOS)","PELICULA EVOH","TRIPA CELULOSA  (SALCHICHAS) WIENIEPAK","TRIPA FIBROSA (SALAMES)","TRIPA POLYAMIDA (JAMONES Y MORTADELAS) NOVA","TRIPA NATURAL DE CERDO","TRIPA NATURAL DE CORDERO","TRIPA COLAGENO COMESTIBLE"]
							li= items
				div(class="Footer-layout_col")
					p(class="Footer-titulos") MAQUINARIA
					ul(class="Footer-texto")
						each items in ["DESCORTEZADORAS Y DEVELADORAS","REBANADORAS DE PESO CONTROLADO CWS","CORTADORES INDUSTRIALES","CORTADORAS AL POR MENOR","MOLINOS","EMBUTIDORAS PISTON","MEZCLADORAS","CUTTERS","MARMITAS"]
							li= items
			div(class="Footer-layout_copy")
				p Epcys y Nova Meats forman parte del 
					a(href='http://gruponm.com/', class="linkGNM") Grupo NM | 
					|Todos los derechos reservados © 2015
			// Script		
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')